:global(.ag-theme-alpine ){
    height:100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

:global(.ag-theme-alpine .ag-root-wrapper-body .ag-focus-managed .ag-layout-auto-height){
    height:100%;  
    display: flex;
    flex-direction: row;
}
